body {
    padding: 0;
    margin: 0;
}

#app {
    width: 100vw;
    height: 100vh;
}

.wrapper {
    margin: 100px auto 0;
    position: relative;
    overflow: hidden;
    width: 40%;
    height: 300px;
    border: 1px solid blue;
}

.container {
    width: 120%;
}

.container > p {
    width: 120%;
    border: 1px solid gray;
}

.ps__rail-x {
    top: 0px;
    bottom: auto;
    /* If using `top`, there shouldn't be a `bottom`. */
}

.ps__rail-y {
    left: 0px;
    right: auto;
    /* If using `left`, there shouldn't be a `right`. */
}

.ps__thumb-x {
    top: 2px;
    bottom: auto;
    /* If using `top`, there shouldn't be a `bottom`. */
}

.ps__thumb-y {
    left: 2px;
    right: auto;
    /* If using `left`, there shouldn't be a `right`. */
}
