<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <div id="app"></div>

        <template id="app-template">
            <div id="app">
                <div class="wrapper" v-pretty-scroll>
                    <div class="container">
                        <p>使用 directive</p>
                        <p v-for="i in count">
                            测试测试测试测试测试测试测试测试
                        </p>
                    </div>
                </div>
                <div class="wrapper">
                    <pretty-scroll id="aaa" class="container">
                        <p>使用 component 不带 wrapper</p>
                        <p v-for="i in count">
                            测试测试测试测试测试测试测试测试
                        </p>
                    </pretty-scroll>
                </div>
                <pretty-scroll
                    id="aaa"
                    has-wrapper
                    class="wrapper"
                    class-name="container"
                >
                    <p>component 带 wrapper</p>
                    <p v-for="i in count">
                        测试测试测试测试测试测试测试测试
                    </p>
                </pretty-scroll>
                <button @click="count++">increase</button>
            </div>
        </template>

        <script src="../node_modules/vue/dist/vue.min.js"></script>
        <script src="../node_modules//@better-scroll/core/dist/core.min.js"></script>
        <script src="../node_modules//@better-scroll/scroll-bar/dist/scroll-bar.min.js"></script>
        <script src="../node_modules//@better-scroll/mouse-wheel/dist/mouse-wheel.min.js"></script>
        <script src="../dist/pretty-scroll.js"></script>
        <script>
            Vue.use(PrettyScroll, {
                // 启动鼠标滚轮，可通过鼠标滚轮滚动
                mouseWheel: {
                    speed: 20,
                    invert: false,
                    easeTime: 300,
                },
                // 显示滚动条
                scrollbar: {
                    fade: false,
                    interactive: true,
                },
            });

            const app = new Vue({
                el: "#app",
                template: "#app-template",
                data: {
                    count: 10,
                },
            });
        </script>
    </body>
</html>
